<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>567734029867-0pd6atn60gkna7or8aor6o8vt2b5nlaj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.567734029867-0pd6atn60gkna7or8aor6o8vt2b5nlaj</string>
	<key>API_KEY</key>
	<string>AIzaSyD8PfnZhsdjLfatD9f3YOQyF9jSJhuz9Ig</string>
	<key>GCM_SENDER_ID</key>
	<string>567734029867</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.Installationspartner</string>
	<key>PROJECT_ID</key>
	<string>isberget-2bece</string>
	<key>STORAGE_BUCKET</key>
	<string>isberget-2bece.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:567734029867:ios:9e6f6bcd49cb135d</string>
	<key>DATABASE_URL</key>
	<string>https://isberget-2bece.firebaseio.com</string>
</dict>
</plist>